{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!--Styles block goes here-->

<!--Content block-->
{% block content %}

<div class="container">

    {% if current_user.is_authenticated%}
        <h1>Hello {{current_user.username}} !</h1>
    {% else %}
        <h1>Hello!</h1>
    {%endif%}
</div>

<div class="container">
    <div class="row">
        
        <a href="/add/category"><button type="button" class="btn btn-success">Add Category</button></a>
        <ul>
            {{ macro.displayCategoryList(categories) }}
        </ul>
    </div>
    <div class=row>
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <p class="card-text"> {{ macro.displayPitches(pitches) }} </p>
              <div>
              </div>          
            </div>
          </div>
    </div>
</div>
{% endblock%}
