<!-- Displaying categories macro  -->
{% macro displayCategoryList(category_list) %}

    {% for category in category_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 category-card">
            <div class="text-center">
                <a href="{{url_for('.category',id=category.id)}}">
                    <h3>{{category.name|truncate(20)}}</h3>
                </a>
            </div>
        </div>
    {% endfor %} 
{% endmacro %}

<!-- Displaying pitches macro -->
{% macro displayPitches(pitches_list) %}
    {% for pitches in pitches_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pitches-card">
        <h5 class='text-center'>{{pitches.name|upper}}</h5></a>
        <p>{{pitches.content}}</p>
        <hr>
        <h4><span><a href=" {{url_for('.view_pitch',id=pitches.id)}}">Review Comments</a></span></h4>
        <hr>
        <a href=" {{url_for('.add_comment',id=pitches.id)}}"><h4>Add Comment</h4></a>
    </div>
    {% endfor %}
{% endmacro %}

<!--Displaying a pitch with comments-->
{% macro displayPitchWithComment(pitch_comment_list) %}
    {% for comment in pitch_comment_list %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pitchComment-card">
            <p>{{comment.remark}}</p>
            <p>{{comment.time_posted.strftime('%Y/%m/%d || %r') }}</p>
        </div>
    {% endfor %}
{% endmacro %}
