{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{%block styles%}
  {{ super() }}
{%endblock%}
{% block content %}
<div class="card" style="width: 150rem;">
    <div class="card-body">
        <div class='content'>
            <p>{{pitches.gist}}</p>
        </div>
        <br>
        <br>
        <br>
        <!--Comments-->
        <div class='comments'>
            <a href="{{url_for('.add_comment',id=pitches.id)}}"><button type="button" class="btn btn-info">Leave your comment</button></a>
        </div>

        <!--Other comments-->
        {% if comment %}
        {{ macro.displayPitchWithComment(comment)}}
        {% else %}
        <p>No comments yet</p>
        {% endif %}
  

    </div>
  </div>
{% endblock %}
